<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

    <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :name, include_blank: "選択してください" %>
    </div>

    <div class="field">
    <%= fields_for :service_customer, (@service_customer) do |sc| %>
      <%= sc.label :service_id %>
      <%= sc.collection_check_boxes :service_id, Service.all, :id, :name, include_hidden: false  %>
    <% end %>
    </div>


  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_select(:birthday, start_year:DateTime.now.year, end_year:1900, date_separator:'/')%>
  </div>

  <div class="field">
    <%= form.label :kaigodo %>
    <%= form.number_field :kaigodo, in: 1..5 %>
  </div>

  <div class="field">
    <%= form.label :medical_history %>
    <%= form.text_area :medical_history %>
  </div>

  <div class="field">
    <%= form.label :discription %>
    <%= form.text_area :discription %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
