
<p><%= "#{current_user.name}のお客様一覧"%></p>
<h1>Customers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<p><%= link_to 'Customer を追加', new_customer_path %></p>


<p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %> </p><!-- ログアウトをする -->
