<p id="notice"><%= notice %></p>


<p>
  <strong>Category:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= (Date.today.strftime('%Y%m%d').to_i - @customer.birthday.strftime('%Y%m%d').to_i) / 10000 %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @customer.birthday %>
</p>

<p>
  <strong>Kaigodo:</strong>
  <%= @customer.kaigodo %>
</p>

<p>
  <strong>Medical history:</strong>
  <%= @customer.medical_history %>
</p>

<p>
  <strong>Discription:</strong>
  <%= @customer.discription %>
</p>

<p>
  <strong>Servise in use:</strong>
  <% @customer.services_customers.each do |sc| %>
    <%= sc.service.name%>,
  <% end %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
