<!DOCTYPE html>
<html>
  <head>
    <title>WonderfulNurcingDevise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', media: 'all' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to "トップページ", customers_path%>
    <%= link_to "User を編集", edit_user_registration_path, method: :get %><!--ユーザー情報を編集する-->
    <%= link_to "Service 一覧", services_path %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %> <!-- ログアウトをする -->
    <%= yield %>
  </body>
</html>
